/* Color */


$white: #FFFFFF;
$main-white: #F5F5F5;
$black: #000000;
$main-black: #202020;
$orange: #F68633;
$dark-grey: #565656;
$grey: #828282;


/* Font-size */

$main-title: 34px;
$second-title: 24px;
$main-size: 14px;
$second-size: 12px;


/* Font-family */

$main-font: 'Roboto', sans-serif;
